<header class="container-fluid m-0 p-0">
  <nav class="navbar navbar-expand-lg navbar-light bg-white m-0 shadow-sm py-3">
      <a class="navbar-brand font-weight-bold px-5" href="/"><i>H</i></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" style="font-size: 0.9rem;">
          <li class="nav-item <%= path ==='/pacientes' ? 'active':'' %>">
            <a class="nav-link" href="/pacientes">Concentrado</a>
          </li>
          <li class="nav-item <%= path ==='/pacientes/caratula' ? 'active':'' %>">
            <a class="nav-link" href="/pacientes/caratula">Registrar</a>
          </li>
        </ul>
      </div>
    </nav>
</header>